<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWsZjSKZOJ_O8sKj66O44uYx2etXsFaEU</string>
	<key>GCM_SENDER_ID</key>
	<string>958501156505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kenzhe.Lyrica</string>
	<key>PROJECT_ID</key>
	<string>lyrica-app-kenzhe</string>
	<key>STORAGE_BUCKET</key>
	<string>lyrica-app-kenzhe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958501156505:ios:1e23e082441ad11ec12a08</string>
</dict>
</plist>